/* Add CSS Styling */
.odd {
    background-color: rgb(212, 170, 176);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#two {
    color: rgb(7, 7, 238);
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: rgb(130, 202, 130);
    font-size: 24px;
    font-weight: bold;
}