body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 16px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}

span {
  display: block;
  padding-left: 30px;
}